[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/david/Desktop/Minas.desktop]
row=0
col=9

[/home/david/Desktop/Emulador de terminal.desktop]
row=1
col=11

[/home/david/Desktop/Firefox.desktop]
row=0
col=10

[/home/david/Desktop/LibreOffice.desktop]
row=0
col=11

[/home/david/Desktop/Solitário Aisleriot.desktop]
row=1
col=10

[cdrom]
row=2
col=0

[Lixo]
row=3
col=0

[/]
row=0
col=0

[/home/david]
row=1
col=0

