[Desktop Entry]
Version=1.0
Type=Application
Name=Minas
Comment=Limpar as minas escondidas num campo minado
Exec=gnome-mines
Icon=org.gnome.Mines
Path=
Terminal=false
StartupNotify=true
